.main{
  background-color: var(--def-dark);
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 3rem;
  position: relative;

  .close_wrapper{
    position: absolute;
    cursor: pointer;
    right: 3.5rem;
    top: 1rem;

    .close{
      fill: var(--def-light);
      transition: 0.3s;
      margin-right: 1rem;
      margin-top: -2rem;
    }
    .close:hover{
      fill: var(--def-light-hover)
    }
  }
}

@media (max-width: 700px) {
  .main{
    padding: 2rem 2rem 20rem 2rem;
    .close_wrapper{
      right: 2rem;
    }
  }
}
