.wrapper{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin-right: 4rem;

  .title{
    font-size: 3.5rem;
    color: var(--def-light);
    font-weight: 600;
  }
  .text{
    text-align: start;
    font-size: 1.75rem;
    color: var(--def-light);
    font-weight: 500;
    white-space: pre-wrap;
    line-height: 2.5rem;
  }
  .src{
    text-decoration: underline;
  }
  .img{
    width: 100%;
    max-width: 40rem;
  }
}

