@import 'color';

*,
*:after,
*:before {
  font-size: 10px;
  font-family: Roboto, sans-serif;
}

*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: var(--def-dark);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--def-light);
  border-radius: 20px;
  border: 3px solid var(--def-dark);
}

body {
  overflow: hidden;
}

.item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.item-enter {
  img {
    transform: rotate(-25deg);
  }
  transform: translateX(-125vw);
}
.item-enter-active {
  img {
    transition: 500ms ease-in-out;
    transform: rotate(0deg);
  }
  transition: 500ms ease-in-out;
  transform: translateX(0);
}
.item-exit {
}
.item-exit-active {
  img {
    transition: 500ms ease-in-out;
    transform: rotate(25deg);
  }
  transition: 500ms ease-in-out;
  transform: translateX(125vw);
}

:root {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color};
  }
  color-scheme: light;
}

:root[color-scheme='light'] {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color};
  }
  color-scheme: light;
}
